#aboutProfileImageHolder {
  display: inline-block;
  float: left;
  margin-right: 16px;
}

#aboutProfileImage {
  width: 250px;
  height: 250px;
  border-radius: 50%
}

#aboutSummary {
  min-height: 250px;
}

#aboutSummary ul {
  list-style-position: inside;
}

#aboutResumeButtonWrapper {
  text-align: center;
}

#aboutContactItemsHolder {
  display: flex;
  justify-content: center;
  text-align: center;
}

.aboutContactItem {
  display: inline-block;
  width: 200px;
  height: 200px;
  margin: 16px;
  border-radius: 8px;
  background-color: #7FAAB8;
}

.aboutContactItem:hover {
  cursor: pointer;
}

.aboutContactItem .aboutContactItemImage {
  position: relative;
  top: 50%;
  width: 140px;
  height: 140px;
  transform: translateY(-50%);
}
