#workTermHolder {
  margin: 24px;
}

#workTermTitle {
  font-size: 32px;
  font-weight: bold;
}

#workTermEmployer {
  margin-top: -2px;
  font-size: 18px;
}

#workTermDate {
  color: #888888;
  font-size: 14px;
}

#workTermSkills {
  margin-top: 6px;
  margin-bottom: -4px;
  color: #444444;
  font-size: 18px;
}

#workTermImage {
  position: relative;
  top: 24px;
  width: 200px;
  height: 200px;
  float: right;
}
