<div id="aboutTopSectionHolder">
  <div id="aboutProfileImageHolder">
    <img id="aboutProfileImage" src="<%= LinkUtil.imgLink('profile_pic.jpg') %>">
  </div>

  <div id="aboutSummary">
    <p>
      Hi, I am Michael Socha, a fourth year Software Engineering student at the University of Waterloo.
    </p>
    <p>
      I have completed five internships, with my most recent one having been at Facebook on their Job Search platform.
      My professional and academic experience includes:
    </p>
    <ul>
      <li>Server-side development (Python, PHP/Hack, MySQL, GraphQL, MongoDB)</li>
      <li>Mobile development (Android, iOS, React Native)</li>
      <li>Front-end web development (JavaScript, React, Backbone, jQuery)</li>
    </ul>
    <p>
      Feel free to browse around the site to learn more about my
      <a href="#projects">projects</a>,
      <a href="#work_terms">work terms</a>, or view my
      <a href="<%= LinkUtil.docLink('Michael_Socha_Resume.pdf') %>">resume</a>.
    </p>
    <p>Have a great day!</p>
  </div>
</div>

<div id="aboutResumeButtonWrapper">
  <div id="aboutResumeButton" class="standardButtonDiv">View my Resume</div>
</div>

<div id="aboutContactItemsHolder">
  <div id="aboutContactGithubItem" class="aboutContactItem">
    <img class="aboutContactItemImage" src="<%= LinkUtil.imgLink('github_icon.png')%>"/>
  </div>
  <div id="aboutContactStackoverflowItem" class="aboutContactItem">
    <img class="aboutContactItemImage" src="<%= LinkUtil.imgLink('stackoverflow_icon.png')%>">
  </div>
  <div id="aboutContactLinkedinItem" class="aboutContactItem">
    <img class="aboutContactItemImage" src="<%= LinkUtil.imgLink('linkedin_icon.png')%>">
  </div>
</div>
