<div id="aboutTopSectionHolder">
  <div id="aboutProfileImageHolder">
    <img id="aboutProfileImage" src="<%= LinkUtil.imgLink('profile_pic.png') %>">
  </div>

  <div id="aboutSummary">
    <p>Hi, I am Michael Socha, a third year Software Engineering student at the University of Waterloo.</p>
    <p>I have completed four work terms, the most recent two having been at Wish, a mobile e-commerce company. My professional and academic experience includes:</p>
    <ul>
      <li>Mobile development (Android, iOS)</li>
      <li>Server-side development (Python, PHP, MySQL, MongoDB)</li>
      <li>Web development (JavaScript, Backbone, jQuery, HTML, CSS)</li>
    </ul>
    <p>Feel free to browse around the site to learn more about my <a href="#projects">projects</a>, <a href="#work_terms">work terms</a>, or <a href="<%= LinkUtil.docLink('Michael_Socha_Resume.pdf') %>">view my resume</a>.</p>
    <p>Have a great day!</p>
  </div>
</div>

<div id="aboutResumeButtonWrapper">
  <div id="aboutResumeButton" class="standardButtonDiv">View my Resume</div>
</div>

<div id="aboutContactItemsHolder">
  <div id="aboutContactGithubItem" class="aboutContactItem">
    <img class="aboutContactItemImage" src="<%= LinkUtil.imgLink('github_icon.png')%>"/>
  </div>
  <div id="aboutContactStackoverflowItem" class="aboutContactItem">
    <img class="aboutContactItemImage" src="<%= LinkUtil.imgLink('stackoverflow_icon.png')%>">
  </div>
  <div id="aboutContactLinkedinItem" class="aboutContactItem">
    <img class="aboutContactItemImage" src="<%= LinkUtil.imgLink('linkedin_icon.png')%>">
  </div>
</div>
